/* /components/Portfolio/Portfolio.css */
.portfolio-page-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center; /* This centers the grid items horizontally */
    gap: 20px;
    padding: 20px;
  }
  
  