/* This is the container for the portfolio grid */
.portfolio-grid-container {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  justify-content: center;
  gap: 20px;
  padding: 100px;
}

/* Styling specific to each portfolio item */
.portfolio-grid-container .portfolio-item {
  /* background-color: #5942d2; */
  color: #fff;
  border: 1px solid rgb(78, 197, 82);
  border-radius: 8px;
  background: rgba(116, 111, 111, 0.463); /* Semi-transparent overlay for text legibility */
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 400px; 
  height: 400px;
}

/* Hover effect for each portfolio item */
.portfolio-grid-container .portfolio-item:hover {
  transform: translateY(-8px);
  /* background-color: #00bde3; */
}

/* Styling for the images in each portfolio item */
.portfolio-grid-container .portfolio-item .portfolio-image {
  width: 100%;
  height: 425px; /* Fixed height, or adjust as needed */
  object-fit: cover;
}

/* The container for the text overlaying the portfolio item image */
.portfolio-grid-container .portfolio-item .portfolio-item-info {
  position: fixed;
  bottom: 2px;
  width: 100%;
  background: rgba(11, 10, 10, 0.967);
  text-align: left;
  font-weight: 300;
}

/* Styling for the title within the portfolio item */
.portfolio-grid-container .portfolio-item .portfolio-item-info h3 {
  text-align: left;
  margin: 3px;
  font-weight: 400;
  color: white; /* Ensures text is visible on the overlay */
}
.portfolio-grid-container .portfolio-item-info .github-icon {
  margin-left: 10px;
  color: white
  ; /* Adjust the color as needed */
}

.portfolio-grid-container .portfolio-item-info .github-icon:hover {
  color: #cccccc; /* Adjust hover color as needed */
}

/* Adjust the font size for the icon if necessary */
.portfolio-grid-container .portfolio-item-info .github-icon svg {
  width: 25px; /* Adjust icon size as needed */
  height: auto;
}

@media screen and (max-width: 768px) {
  .portfolio-grid-container {
    padding: 50px;
  }
  .portfolio-grid-container .portfolio-item {
    min-width: 300px;
    min-height: 350px;
  }
}
