body {
  background-color: #5942d2;
  background-image: url("./assets/dots.jpg");
  background-position: center center;
  background-size: cover; /* Add this line */
}
.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
}
main {
  padding-top: 100px; /* This is for desktop, adjust as needed */
}

@media (max-width: 768px) {
  main {
    padding-top: 100px; /* This is for mobile, adjust as needed */
  }
}
